name: Nix

on:
  push:
  workflow_dispatch:

permissions:
  id-token: "write"
  contents: "read"

env:
  NIX_ABORT_ON_WARN: "1"

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: DeterminateSystems/determinate-nix-action@1d699fc25db3f9e079cd2f168ca007a4183389be # v3.15.1

      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13

      - name: Check flake
        run: |
          nix flake check --keep-going --print-build-logs github:${{ github.repository }}/${{ github.sha }}

      - name: Build ISOs
        run: |
          nix build --keep-going --print-build-logs github:${{ github.repository }}/${{ github.sha }}#all-isos
